.row {
    width: 100%;
    color: black;
}

.navbarr {
    background-color: #F9F9F9;
}
.navbarr .line{
    width: 3px;
    /* height: ; */
    background-color: white;
}
.nav-link {
    color: black;
    margin-top: 2px;
    padding: 0;
    width: 100px;
    /* transition: 0.5s; */
}
.navbarr .nav-item button{
    padding: 0px;
    transition: 0.5s;
}
.nav-link .nav-item {
    background-color: transparent;
    background-color: black;
    color: black;
    margin-top: 10px;
    transition: 0.5s;

}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: black;
    margin-top: 0px;
    background-color: white;
}

.nav-pills .nav-link.active::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFDD30;
    margin-top: 0px;
}

.navbarr .nav-item button {
    padding: 10px 20px;
}
.navbarr .col-6 svg{
    font-size: 25px;
    color: #313131;
}
.navbarr .line2{
    width: 0.1%;
    height: 46px;
    padding: 0;
    background-color:#FFDD30;
}
.d-b .img-2 {
    margin-top: -100px;
    /* Start with no animation */
    animation: none;
}

.d-b .img-2:hover {
    animation: slow-bounce 2s forwards;
}

@keyframes slow-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-60px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-45px);
    }
    80% {
        transform: translateY(-15px);
    }
}
